 h1 {color:purple; 
    text-align: center; 
    font-size: 24pt;
    text-shadow: 2px 2px;
    font-family: "courier new";
}
body {background-color: lightblue}
img {width: 30%; 
    height: 30%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 10px solid black;
    padding: 15px;
}